@{
    ViewData["Title"] = "Sistema Estacionamento";
}

<div class="text-center">
    <h1 class="display-4">Estacionamento</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Build a web application</a> </p>
</div>